.git
.github
.ruff_cache
**/.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.log
**/*.err
**/*.egg-info
.env
data
deploy
supabase/.temp
node_modules
**/node_modules
dist
build
frontend/node_modules
frontend/dist
landing_page_mock
studio_page_mock
waitlist_mock
